// Footer Section
.footer{
    .footer-container{
        line-height: 25px;
        .footer-col1{
            padding: 20px;
            background-color: $bg-copyrights;
            box-shadow: 0 0 0 100vmax $bg-copyrights;
            clip-path: inset(0 -100vmax);
            flex-direction: column;
            @include min-width-md{
                flex-direction: row;
                align-items: center;
            }
            @include min-width-xl{
                width: 80%;
                margin: auto;
                padding: 50px 0px;
            }
            .foot-text{
                width: 100%;
                .head{
                    font-size: 20px;
                    padding-top: 0px;
                    color: $hover;
                    @include min-width-lg{
                        font-size: 24px;
                    }
                }
                p{
                    font-size: 16px;
                    color: $grey;
                    padding-bottom: 15px;
                }
            }
            .foot-inp{
                width: 100%;
                position: relative;
                @include min-width-lg{
                    padding-left: 20px;
                }
                .input{
                    width: 100%;
                    padding: 12px;
                    font-size: 20px;
                    border: none;
                    border-radius: 25px;
                }
            }

        }
        .footer-col2{
            padding: 20px;
            padding-top: 0px;
            background-color: $bg-footer;
            box-shadow: 0 0 0 100vmax $bg-footer;
            clip-path: inset(0 -100vmax);
            grid-template-columns: repeat(1, 1fr);
            @include min-width-md{
                grid-template-columns: repeat(2, 1fr);
                gap: 15px;
            }
            @include min-width-xl{
                grid-template-columns: repeat(4, 1fr);
                width: 80%;
                margin: auto;
                padding: 50px 0px;
            }
            .head{
                font-size: 20px;
                color: $hover;
                padding-bottom: 20px;
                @include min-width-lg{
                    font-size: 24px;
                }
            }
            li{
                font-size: 16px;
                color: $grey;
                padding-bottom: 8px;
                i{
                    color: $hover;
                    font-size: 12px;
                    padding-right: 10px;                   
                }
                &:hover{
                    color: $hover;
                }
            }
            p{
                font-size: 16px;
                color: $grey;
                padding-bottom: 8px;
            }
            .w-c1{
                color: $white;
                @include font-weight($font-b)
            }
            .soc-icon{
                padding-top: 10px;
                justify-content: center;
                align-items: center;
                i{
                    margin-right: 15px;
                    padding: 15px;
                    font-size: 22px;
                    color: $white;
                    border-radius: 30px;
                    background-color: rgba(136,191,255,0.3);
                    &:hover{
                        color: $hover;
                        background-color: $bg-copyrights;
                    }
                }
                .fa-twitter{
                    font-size: 20px;
                }
                .fa-facebook-f{
                    padding: 13px 17px;
                    font-size: 25px;
                }
            }
        }
        .footer-col3{
            padding: 20px;
            background-color: $bg-copyrights;
            box-shadow: 0 0 0 100vmax $bg-copyrights;
            clip-path: inset(0 -100vmax);
            @include min-width-xl{
                width: 80%;
                margin: auto;
                padding: 50px 0px;
            }
            p{
                color: $grey;
            }
            .w-h{
                color: $hover;
            }
        }
    }
}